<aside>
    <div class="profile-img-wrapper">
        <img src="{{ asset('build/images/julien.4fe7d003.jpg') }}" alt="profile">
    </div>
    <h1 class="profile-name">Lhermenier Julien</h1>
    <div class="text-center">
        <span class="badge badge-white badge-pill profile-designation">Développeur Web <br> Web Mobile </span>
        <span class="badge badge-white badge-pill profile-designation">Back-End</span>
        <span class="badge badge-white badge-pill profile-designation">Symfony</span>
    </div>
    <nav class="social-links">
        <a href="https://www.linkedin.com/in/julien-lhermenier-0910101bb/" target="_blank" class="social-link"><i class="fab fa-linkedin-in" ></i></a>

        <a href="https://twitter.com/JulienKraKEN1" target="_blank" class="social-link"><i class="fab fa-twitter"></i></a>


        <a href="https://github.com/aokiiji76" target="_blank" class="social-link"><i class="fab fa-github"></i></a>
    </nav>
    <div class="widget">
        <h5 class="widget-title">Information personnelle</h5>
        <div class="widget-content">
            <P>Age : 30 ans</P>
            <p>Téléphone :<br> <a href="tel:0660620594">0660620594</a></p>
{#            <p>Tel : 0660620594</p>#}
            <p>Mail : <a href="mailto:lhermenierjulien.dev@gmail.com">lhermenierjulien.dev@gmail.com</a></p>
            <p>Localisation : Maromme, France</p>
            
            <button class="btn btn-download-cv btn-primary rounded-pill">
                
                <img src="{{ asset('build/images/download.09911d0c.svg') }}" alt="download" class="btn-img"><a class="download-text" style="text-decoration: none" href="{{ path('download_file') }}">Télécharger le CV</a>
            </button>
        </div>
    </div>
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">LANGAGES</h5>
                <p>Francais</p>
                <p>Anglais : lu, écrit</p>
              
            </div>
        </div>
    </div>
    <div class="widget card">
        <div class="card-body">
            <div class="widget-content">
                <h5 class="widget-title card-title">INTERETS</h5>
                <p>Informatique</p>
                <p>Jeux Videos</p>
                <p>Série télé </p>
                <p>Musiques : <br> Hip Hop<br> Reggae<br> Electronique</p>
               
            </div>
        </div>
    </div>
</aside>