<header>
    <button class="btn btn-white btn-share ml-auto mr-3 ml-md-0 mr-md-auto"><img src="{{ asset('build/images/share.a5b9f1c7.svg') }}" alt="share" class="btn-img">
        SHARE</button>
    <nav class="collapsible-nav" id="collapsible-nav">
        <a href="index.html" class="nav-link active">HOME</a>
        <a href="resume.html" class="nav-link">RESUME</a>
        <a href="portfolio.html" class="nav-link">PORTFOLIO</a>
        
        <a href="contact.html" class="nav-link">CONTACT</a>
    </nav>
    <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{{ asset('build/images/hamburger.bf9c727c.svg') }}" alt="hamburger"></button>
</header>