{% extends '/base.html.twig' %}
{% block title %}{{ parent() }} | Contact {% endblock %}

{% block body %}
<main>
    <section class="contact-section">
        <h2 class="section-title">Contactez-moi</h2>
        
        <div class="contact-cards-wrapper">
            <div class="contact-card">
                <h6 class="contact-card-title">Appelez-moi</h6>
                <p class="contact-card-content"> <a href="tel:0660620594">0660620594</a></p>
               
            </div>
            <div class="contact-card">
                <h6 class="contact-card-title">Envoyez-moi un email</h6>
                <p class="contact-card-content"><a href="mailto:lhermenierjulien.dev@gmail.com">julienlhermenier.dev@gmail.com</a></p>
                
            </div>
            <div class="contact-card">
                <h6 class="contact-card-title"> Mon profil GitHub</h6>
                <p class="contact-card-content"> <a href="https://github.com/aokiiji76" target="_blank" class="social-link" ><i class="fab fa-github fa-3x"></i></a></p>
               
            </div>
            <div class="contact-card">
                <h6 class="contact-card-title"> Mon profil LinkedIn</h6>
                <p class="contact-card-content"> <a href="https://www.linkedin.com/in/julien-lhermenier-0910101bb/" target="_blank" class="social-link"><i class="fab fa-linkedin-in fa-3x" ></i></a></p>
            </div>
            <div class="contact-card">
                <h6 class="contact-card-title"> Mon profil Twitter</h6>
                <p class="contact-card-content"> <a href="https://twitter.com/JulienKraKEN1" target="_blank" class="social-link"><i class="fab fa-twitter fa-3x"></i></a></p>
            </div>
            <div class="contact-card">
                <h6 class="contact-card-title"> Localisation</h6>
                <div class="map-wrapper embed-responsive embed-responsive-16by9">
                    <iframe src="https://maps.google.com/maps?q=76150%20Maromme&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" class="embed-responsive-item"></iframe>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}