<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Lhermenier Julien{% endblock %}</title>
{#        font#}
        <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
{#        script linkedin#}
        <script src='//platform.linkedin.com/in.js' type='text/javascript'>lang: fr_FR</script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% include '_partials/_header.html.twig' %}
    <div class="content-wrapper">
        {% include '_partials/_aside.html.twig' %}
    
    
        {% block body %}{% endblock %}
    </div>
    </body>
</html>
